mixin eventForm(event = {})
  form.form.card__shadow(action=`/events/add/${event._id || ''}` method='POST')
    label(for='name') Event Name
    input.validate(type='text' name='name' value=event.name required)

    div.row
      div.col.s6
        label(for='startDate') Start Date 
        input(type='date' name='startDate' value=h.moment(event.startDate).format('YYYY-MM-DD') required)
      div.col.s6
        label(for='endDate') End Date
        input(type='date' name='endDate' value=h.moment(event.endDate).format('YYYY-MM-DD') required)

    label(for='address') Address
    input(type='text' id='address' name='location[address]' value=(event.location && event.location.address))
    input(type='text' id='lng' name='location[coordinates][0]' value=(event.location && event.location.coordinates[0]) style="display: none")
    input(type='text' id='lat' name='location[coordinates][1]' value=(event.location && event.location.coordinates[1]) style="display: none")
   
    label(for='description') Event Description
    textarea(name='description' value=event.description)= event.description

    div.row
      div.col
        label.checkbox(for='public') Publicly Share Event?
        input.checkbox(type='checkbox' name='public' checked=event.public)
        p= 'You will need to send players the link to your event if it is not publicly shared'

    input(type='submit' value='Save' class='button')