mixin pagination(page, pages, count, paginationUrl)
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/${paginationUrl}/page/${page - 1}`)
    .pagination__text
      p Page #{page} of #{pages} - #{count} total results
    .pagination__next
      if page < pages
        a(href=`/${paginationUrl}/page/${parseFloat(page) + 1}`)
