mixin playerCard(player = {})
    .card.card__shadow.event
      .card__content
        h2.card__title.player__title= player.player_id.firstName + ' ' + player.player_id.lastName
        .player__details
          .player__details--row
            p.bold.inline Player ID: 
            p.inline= player.player_id.popid
          .player__details--row
            p.bold.inline Birthday: 
            p.inline= h.moment(player.player_id.birthday).format("MMM Do YYYY")
          .player__details--row
            p.bold Switch Profile Name
            p= player.player_id.switchProfileName
        .row(style="margin: 0.5rem")
          a.player__button.right(href=`/event/${event._id}/edit`) Teamsheet
          